name: release
on:
  workflow_dispatch:
    inputs:
      run_id:
        required: true
        type: string
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@main
      - uses: cachix/install-nix-action@master
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - name: Build static files
        shell: 'nix develop -c bash -e {0}'
        run: |
          make -C doc
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: README-WeiDU.html
  release:
    permissions:
      contents: write
      actions: read
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@main
      - name: build docs
        run: |
          sudo apt-get install -yqqq hevea zip perl make
          cp sample.Configuration Configuration
          make doc
      - name: download linux artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: ubuntu-22.04
          path: linux
      - name: download mac artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: macos-15-intel
          path: macos
      - name: download mac artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: macos-latest
          path: macos-arm
      - name: download windows artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: windows-latest
          path: windows
      - name: move zips
        run: |
          mv linux/*.zip .
          mv macos/*.zip .
          arm=$(ls macos-arm/WeiDU-Mac-*.zip)
          mv "${arm}" "${arm/WeiDU-Mac-/WeiDU-Mac-ARM-}"
          mv macos-arm/WeiDU-*.zip .
          mv windows/*.zip .
          for file in $(ls *zip); do
            echo "Adding README-WeiDU.html to ${file}"
            zip -ur ${file} README-WeiDU.html
          done
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "*zip"
          prerelease: ${{ contains(github.ref_name, 'nightly') }}
          generateReleaseNotes: true
