name: release
on:
  workflow_dispatch:
    inputs:
      run_id:
        required: true
        type: string
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  release:
    permissions:
      contents: write
      actions: read
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@main
      - name: build docs
        run: |
          sudo apt-get install -yqqq hevea zip perl make
          make doc
      - name: download linux artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: ubuntu-22.04
          path: linux
      - name: download mac artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: macos-15-intel
          path: macos
      - name: download mac artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: macos-latest
          path: macos-arm
      - name: download windows artifact
        uses: actions/download-artifact@main
        with:
          run-id: ${{ inputs.run_id }}
          github-token: ${{ github.token }}
          name: windows-latest
          path: windows
      - name: move zips
        run: |
          mv linux/*.zip .
          mv macos/*.zip .
          arm=$(ls macos-arm/WeiDU-Mac-*.zip)
          mv "${arm}" "${arm/WeiDU-Mac-/WeiDU-Mac-ARM-}"
          mv macos-arm/WeiDU-*.zip .
          mv windows/*.zip .
          for file in $(ls *zip); do
            platform=$(echo "${file}" | awk -F '-' '{ print $1"-"$2}')
            echo "Adding README-WeiDU.html to ${platform}/${file}"
            mkdir -p ${platform}
            cp README-WeiDU.html ${platform}/. || true
            zip -ur ${file} ${platform}
          done
      - name: determine prerelease
        id: prerelease
        run: |
          if [[ "${{ github.ref_name }}" =~ ^v[0-9]+\.00$ ]]; then
            echo "prerelease=false" >> "$GITHUB_OUTPUT"
          else
            echo "prerelease=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "*zip"
          prerelease: ${{ steps.prerelease.outputs.prerelease }}
          generateReleaseNotes: true
